 label {
    display: inline-block;
    width: 10em;
    vertical-align: top;
    text-align: left;
    margin-right: 10px;
    }
    body{
        font-size:1.2em;
    }
    fieldset{
        background-color: indigo;
        color:white;
        width: 380px;
        height: 520px;
    }
    input[type="text"], input[type="number"], input[type="email"] {
        background-color: rgba(255,255,255,.5);
        color: rgba(255,255,255,1);
        box-shadow: inset 0 0 10px rgba(255, 255, 255, .75);
    }
    input[type="reset"], input[type="submit"]{
        background-color: navy;
        color: white;
        padding: 5px;
        margin-left: 70px;
        box-shadow: 0 0 4px white;
    }
    label{
    margin-left: 10px;
    display:inline-block;
    color:rgba(255,255,255,1);
    }
    input{
        border-radius: 5px;
    }
    input[type="text"]:focus{
        background-color: white;
        color: black;
    }